.loginForm
{
    background-color: rgba(1,32,93,0.6);
    color: wheat;
}
.h2
{
    text-align: center;
}
.l
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-decoration: none;
    padding:20px
}